<!-- to show in frontend this has to be linked in app.component.html by place selector of emloyee.component.ts in it  -->
<!-- to  implement this form go to app.module.ts and import 2 things:FormsModule,HttpClientModule -->

<div class="container mt-4">
    <h1>Employee Registration</h1>

    <div class="card">

<form>
    <div class="mb-3">
      <label for="TeacherName" class="form-label">Teacher Name</label>
      <!-- id should be same as in the model of backend  -->
      <!-- ngModel varables are to be created in employee.component.ts -->
      <input type="text"  [(ngModel)]="teacherName" [ngModelOptions]="{standalone:true}" class="form-control" id="teacherName" name="teacherName" placeholder="Enter name" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input type="text" [(ngModel)]="address" [ngModelOptions]="{standalone:true}" class="form-control" id="address" name="address" placeholder="Enter address" aria-describedby="emailHelp">
      </div>
    
      <!-- save() is the method  inside employee.component.ts -->
    <button type="submit" class="btn btn-primary" (click)="save()">Submit</button>
  </form>
</div>
</div>



<div>
 
    <div class="container mt-4" >
 
        <h1>Employee Table</h1>
    <table class="table">
        <thead>     
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Address</th>
        
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let EmployeeItem of EmployeeArray">
           
            <td>{{EmployeeItem.teacherName}}</td>
            <td>{{EmployeeItem.address}}</td>
        
 
            <td>
                <button type="button" class="btn btn-success" (click)="setUpdate(EmployeeItem)">Edit</button>
                <button type="button" class="btn btn-danger" (click)="setDelete(EmployeeItem)">Delete</button>
            </td>
          </tr>
          
        </tbody>
      </table>
 
 
    </div>